body {
	background: #ffffff;
	color: #000000;
	text-align: center;
} 

.jumbotron { 
	background-color: #e5e5e5;  
}  


/* unvisited link */
a:link {
	color: #337ab7;
	background-color: transparent;
}

/* visited link */
a:visited {
	color: #337ab7;
	background-color: transparent;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #337ab7;
	background-color: transparent;
}

/* selected link */
a:active {
	color: #337ab7;   
	background-color: transparent;   
	text-decoration: none; 
}		

.btn-info, .btn-info:active, .btn-info:visited, a.btn-info, a.btn-info:active, a.btn-info:visited { 
	background-color: #ffffff !important;  
	color: #000000 !important;
	border-style: solid;
	border-width: 1px;  
	border-color: #000000 !important;
	font-weight: bold !important;
	outline: 1px #000000;
}

.btn-info:hover, a.btn-info:hover {  
	background-color: #e5e5e5 !important;  
	color: #000000 !important;
	border-style: solid;
	border-width: 1px; 			
	border-color: #00000 !important;
	outline: 1px #000000;	
}	   
		
.btn-info:active:focus, a.btn-info:active:focus {  
	background-color: #e5e5e5 !important;
	color: #000000 !important;
	border-style: solid;
	border-width: 1px; 			
	border-color: #000000 !important;	
} 	

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 1px #ffffff;
    outline-offset: -2px;
}

#definition {
	margin-top: 2em;
	margin-bottom: 3em;
}

footer {
	text-align: center;
	margin-top: 5em;
	margin-bottom: 1em;
}
